<% include ../partials/dashboardHeader %>
    <!-- HEADER -->
    <header id="main-header" class="py-2 bg-primary text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1><i class="fas fa-pencil-alt"></i> Posts</h1>
          </div>
        </div>
      </div>
    </header>

    <!-- SEARCH SECTION -->
    <section id="seacrh" class="py-4 mb-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-5 ml-auto">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search Posts..."
              />
              <div class="input-group-append">
                <button class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- POST SECTION -->
    <section id="posts">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header"><h4>Latest Posts</h4></div>
              <div class="card-body">
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th>#</th>
                      <th>Title</th>
                      <th>Category</th>
                      <th>Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% let postCount= 1; posts.forEach(post => { %>
                      <tr>
                        <td><%= postCount %></td>
                        <td><a href="/posts/<%=post._id%>"><%=post.title%></a></td>
                        <td><%= post.category ? post.category : "no category" %></td>
                        <td><%= post.created.toDateString() %></td>
                        <td>
                          <a href="/posts/<%= post._id %>/edit" class="btn btn-warning">
                            Edit Post
                          </a>
                        </td>
                      </tr>
                    <% postCount++ }) %>
                  </tbody>
                </table>
              </div>

              <!-- PAGINATION -->
              <nav aria-label="Page navigation">
                <% if (pages && pages > 0) { %>
                <ul class="pagination justify-content-center">
                    <% if (current == 1) { %>
                    <li class="page-item disabled"><a class="page-link">First</a></li>
                    <% } else { %>
                    <li><a class="page-link" href="/admin/posts">First</a></li>
                    <% } %>
            
                    <% if (current == 1) { %>
                    <li class="page-item disabled"><a class="page-link">«</a></li>
                    <% } else { %>
                    <li><a class="page-link" href="/admin/posts?page=<%= Number(current) - 1 %>">«</a></li>
                    <% } %>
            
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                    <li class="active"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                    <li><a class="page-link" href="/admin/posts?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% } %>
            
                    <% if (current == pages) { %>
                    <li class="page-item disabled"><a class="page-link">»</a></li>
                    <% } else { %>
                    <li><a class="page-link" href="/admin/posts?page=<%= Number(current) + 1 %>">»</a></li>
                    <% } %>
            
                    <% if (current == pages) { %>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                    <% } else { %>
                    <li><a class="page-link" href="/admin/posts?page=<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
                <% } %>
              </nav>
            </div>
            <!-- card -->
          </div>
        </div>
      </div>
    </section>

<% include ../partials/dashboardFooter %>